.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  margin: 1rem 0;

  a {
    background: #777777;
    transition: fill 400ms ease-in;
    color: #ffffff;
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    box-shadow: 10px 10px 8px #888888;
    margin-bottom: 35px;
    -webkit-animation: appear 1s ease 0s 1 normal;
    -moz-animation: appear 1s ease 0s 1 normal;
    -ms-animation: appear 1s ease 0s 1 normal;
    animation: appear 1s ease 0s 1 normal;
    animation-fill-mode: both;
  }

  a:hover {
    color: #fb9300;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    color: #ffffff;
    font-size: 0.8rem;
    font-style: italic;
  }
}

h1 {
  text-align: center;
}

/*Animations */
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
