@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #ffffff;
  transition: color 400ms ease-in;
}
a:hover {
  color: #9dbcbc;
  transition: color 400ms ease-out;
}
a:active {
  color: #9dbcbc;
}

.firstcard {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 65%;
  flex-basis: 75%;
  padding: 1.5rem;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  box-shadow: 0 0 6.5px 6.5px #006aad;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.Img {
  -webkit-animation: appear 1s ease 0s 1 normal;
  -moz-animation: appear 1s ease 0s 1 normal;
  -ms-animation: appear 1s ease 0s 1 normal;
  animation: appear 1s ease 0s 1 normal;
  animation-fill-mode: both;
  width: 100%;
  height: 100%;
}

.titlepicture {
  padding: 25px;
}

.Img1 {
  display: flex;
  -webkit-animation: appear 1s ease 0s 1 normal;
  -moz-animation: appear 1s ease 0s 1 normal;
  -ms-animation: appear 1s ease 0s 1 normal;
  animation: appear 1s ease 0s 1 normal;
  animation-fill-mode: both;
  width: 600px;
  height: auto;
}
.title {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#006666, #006666);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  transition: background-size 0.5s, background-position 0.3s ease-in 0.5s;
}
.title:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-position 0.5s, background-size 0.3s ease-in 0.5s;
}

.contactMe {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

.secondcard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-basis: 75%;
  max-width: 65%;
  padding: 1.5rem;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 50px;
  background-color: #b7b7b7;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  box-shadow: 0 0 6.5px 6.5px #6b6b6b;
}
.button {
  background-color: #006666;
  border: 1px solid #006666;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 9px 23px;
  text-decoration: none;
  align-content: center;
  margin-top: 5px;
}

.aboutMe {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

@media screen and (max-width: 769px) {
  .titlepicture {
    padding: 0;
  }
  .card {
    padding-top: 0;
    padding-bottom: 25px;
  }
  .title {
    font-size: 45px;
    padding-top: 25px;
  }
  .Img {
    display: flex;
    -webkit-animation: appear 1s ease 0s 1 normal;
    -moz-animation: appear 1s ease 0s 1 normal;
    -ms-animation: appear 1s ease 0s 1 normal;
    animation: appear 1s ease 0s 1 normal;
    animation-fill-mode: both;
    width: 100%;
    height: 100%;
  }
  .Img1 {
    display: flex;
    -webkit-animation: appear 1s ease 0s 1 normal;
    -moz-animation: appear 1s ease 0s 1 normal;
    -ms-animation: appear 1s ease 0s 1 normal;
    animation: appear 1s ease 0s 1 normal;
    animation-fill-mode: both;
    width: 100%;
    height: 100%;
  }
  .firstcard {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 95%;
    height: 350px;
    flex-basis: 100%;
    padding: 1.5rem;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: #b7b7b7;
    box-shadow: 0 0 6.5px 6.5px #6b6b6b;
  }
  .secondcard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-basis: 75%;
    max-width: 100%;
    padding: 1.5rem;
    margin-top: 50px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: #b7b7b7;
    box-shadow: 0 0 6.5px 6.5px #6b6b6b;
  }
}
