.card {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  align-content: center;
  justify-content: center;
}

.firstcard {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  max-width: 1250px;
  flex-basis: 75%;
  padding: 1.5rem;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 10px #777777;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.Img {
  display: flex;
  -webkit-animation: appear 1s ease 0s 1 normal;
  -moz-animation: appear 1s ease 0s 1 normal;
  -ms-animation: appear 1s ease 0s 1 normal;
  animation: appear 1s ease 0s 1 normal;
  animation-fill-mode: both;
  width: 350px;
  height: 350px;
}
.title {
  display: flex;
  margin: auto;
  justify-content: center;
}

.secondcard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  flex-basis: 75%;
  padding: 1.5rem;
  margin-top: 50px;
  justify-content: center;
  max-width: 1250px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 10px #777777;
}
.button {
  background-color: #fb9300;
  border: 1px solid #fb9300;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  padding: 9px 23px;
  text-decoration: none;
  align-content: center;
}
.button:hover {
  background-color: #333333;
}
.button:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 768px) {
  .firstcard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    max-width: 1250px;
    flex-basis: 75%;
    padding: 1.5rem;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 10px #777777;
  }
  .title {
    padding-top: 25px;
  }
}
