span {
  display: block;
  text-align: center;
  width: 550px;
  height: auto;
}

.source {
  padding-left: 10px;
}

.projects {
  display: inline-block;
  padding: 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.Img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .projects {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
  }
}
