.background {
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
}

.border {
  border-radius: 0.25rem;
  display: block;
  max-width: 64rem;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: inline-block;
  width: 100%;
}

.pdf {
  float: right;
  display: inline;
  margin-top: 2rem;
}

.hrefStyles {
  display: block;
  color: #357edd;
}

.grow {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 50px;
  height: 50px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.about {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.experience {
  float: left;
  display: inline;
  width: 100%;
}

.education {
  margin-top: 4rem;
}

.myeducation {
  padding-bottom: 1rem;
}

.design {
  float: right;
  display: inline;
  width: 100%;
}

.mt2 {
  margin-top: 0.5rem;
}

.mt4 {
  margin-top: 2rem;
}

.mt5 {
  margin-top: 4rem;
}

.a {
  color: #357edd;
}
