@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.navbar {
  transition: top 0.5s;
  font-family: "Montserrat", sans-serif;
}

.active {
  text-decoration: underline;
  color: #006666;
}

.navlink {
  display: block;
  padding: 0.5rem 1rem;
}

.navbarbrand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.logo {
  width: auto;
  height: 50px;
}
.logo svg {
  width: auto;
  height: 50px;
}
.logo svg path {
  color: #fff;
  transition: fill 400ms ease-in;
}

.logo:hover svg path {
  fill: #006666;
  transition: fill 400ms ease-out;
}

@media screen and (max-width: 600px) {
  .navbar {
    -webkit-box-shadow: 0 4px 3px -3px #006666;
    -moz-box-shadow: 0 4px 3px -3px #006666;
    box-shadow: 0 -4px 3px -3px #006666;
  }
}
