@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.content {
  margin-top: 75px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}
