a {
  color: #ffffff;
  transition: color 400ms ease-in;
}
a:hover {
  color: #fb9300;
  transition: color 400ms ease-out;
}
a:active {
  color: #fb9300;
}

.content {
  margin-top: 100px;
  font-family: "Open Sans";
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}
