@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.footer {
  position: absolute;
  width: 100%;
  clear: both;
  background-color: #6b6b6b;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.logo {
  width: auto;
  height: 35px;
  float: center;
  margin: 0 0.25rem;
}
.logo svg {
  width: auto;
  height: 35px;
}
.logo svg path {
  fill: #ffffff;
  transition: fill 400ms ease-in;
}

.logo:hover svg path {
  fill: #006666;
  transition: fill 400ms ease-out;
}

.ul {
  list-style-type: none;
}

a {
  transition: color 400ms ease-in;
  display: inline-block;
}
a:hover {
  color: #006666;
  border-bottom: 0;
  transition: color 400ms ease-out;
}

.li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 1rem;
  font-weight: 350;
}
.data.site.siteMetadata.author {
  color: black;
}
